.DS_Store
node_modules
dist

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# golang
__debug_bin
*.exe~
*.exe

tmp
data
test2.jpg
test3.mp4